.navbar{
  background-color: white;
  border-bottom: 1px solid grey;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.house-logo{
    max-width: 30px;
}
.logo-title{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title{
    font-size: 20px;
}
.navbar-links{
  list-style: none;
  margin-left: 50px;
  padding: 0;
}
.navbar-links-item{
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
}
.navbar-links-item a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: black;
  }
  .signout{
    width: 200px;
    height: 50px;
    font-size: 20px;
    background-color: #4c69ba;
    border: calc(0.06887vw + 0.67769px) solid #4c69ba;
    color: white
}
.user-section{
    display: flex;
    align-items: center;
    gap: 30px;
}
.info-user{
    display: flex;
    align-items: center;
    gap: 10px;
}
.photo{
    width: 50px; 
}