.properties-box{
    margin-left: 15px;
    padding: 10px;
    display: grid;
    grid-template-columns: 600px 600px 600px;
    grid-column-gap: 0px;
    grid-row-gap: 30px;
}
.properties{
    display: flex;
    margin-top: -3px;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    width: 350px;
    height: 100%;
}
.cities{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sidebar-city{
    font-size: 20px;
    text-decoration: none;
    color: rgb(26, 25, 25);
    height: 50px;
    padding: 10px;
}
.filter-title{
    margin-left: 10px;
}
.sort-price{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.asc-desc{
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin-left: 10px;
    height: 50px;
}
.searchbar{
    margin-top: 100px;
    margin-left: 10px;
}
.searchbar form{
    display: flex;
    align-items: center;
    padding: 0;
    height: 50px;
}
.searchbar form input{
    border:1px solid black;
    height: 48px;
    font-size: 20px;
    border-right: 0;
}
.searchbar input[type="text" i] {
    padding: 0;
}
.searchbar form button{
    border:1px solid black;
    height: 50px;
    width: 50px;
    background-color: rgb(255, 3, 192);
}