.property-card{
    -webkit-box-shadow: 0px 0px 24px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 24px -7px rgba(0,0,0,0.75);
box-shadow: 0px 0px 24px -7px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 450px;
    height: 500px;
    opacity: 0;
    transition:opacity 0.2s ease-in-out;
}
.property-card.fade-in {
    opacity: 1;
  }
.property-card__type-city i{
    display: flex;
}
.property-card__email{
    height: 40px;
    gap: 5px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    align-items: center;
    width: 100%;
    background-color: rgb(227, 9, 169);
    color: white;
    text-decoration: none;
}
.property-card__bathrooms{
    display: flex;
    gap: 10px;
}
.property-card__bedrooms{
    display: flex;
    gap: 5px;
}
.property-card__image{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(215, 212, 212);
    height: 200px;
}

.property-card__image img{
    max-width: 50px;
}
.favourites-button{
    height: 40px;
    gap: 5px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    align-items: center;
    width: 100%;
    background-color: rgb(19, 188, 50);
    color: white;
    text-decoration: none;
}
.saved-button{
    height: 40px;
    gap: 5px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    align-items: center;
    width: 100%;
    background-color: rgb(255, 72, 0);
    color: white;
    text-decoration: none;
}
.favourites-button,
.saved-button {
    transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.favourites-button.fade-out,
.saved-button.fade-in {
    background-color: rgb(255, 72, 0);
    opacity: 1;
}